params {
    reads = null
    gx_db = null
    tax_id = null
    rasusa_bases = null
    outdir = 'results'
    threads = 24
    help = false
}

profiles {
    standard {
        process {
            executor = 'local'
            conda = 'environment/TEA_main.yml'
            withName: quality_check {
                conda = 'environment/TEA_quality.yml'
            }
        }
    }
    slurm {
        conda.enabled = true
        process {
            executor = 'slurm'
            conda = 'environment/TEA_main.yml'
            useMamba = true
            withName: quality_check {
                conda = 'environment/TEA_quality.yml'
            }
        }
    }
}
