params {
    reads = null
    gx_db = null
    tax_id = null
    rasusa_bases = null
    outdir = 'results'
    threads = 24
    help = false
}

profiles {
    standard {
        process {
            executor = 'local'
        }
    }

    conda {
        process {
            executor = 'local'
            conda = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'general'

            withName: 'fcs_gx_clean' {
                memory = '512 GB'
            }
        }
    }
}
