params {
    reads = "${System.getenv('TARGETASM_TEST_ROOT')}/sample.fastq.gz"
    gx_db = "${System.getenv('TARGETASM_TEST_ROOT')}/gxdb"
    tax_id = 4762
    threads = 1
}
process {
    executor = 'local'
    resourceLimits = [cpus: 1, memory: 1.GB]
}
docker.enabled = false
singularity.enabled = false
apptainer.enabled = false
conda.enabled = false
