process {
    shell  = ['/bin/bash', '-euo', 'pipefail']
    cpus   = 1
    memory = '4 GB'

    withLabel: process_single {
        cpus   = 1
        memory = '4 GB'
    }
    withLabel: process_low {
        cpus   = { Math.min(4, params.threads as int) }
        memory = '8 GB'
    }
    withLabel: 'process_medium|process_high' {
        cpus   = { params.threads as int }
        memory = { (params.threads as int) * 8.GB }
    }
    withName: FCSGX_RUNGX {
        memory = '500 GB'
    }
}
